a {
  text-decoration: none;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card {
  height: 100%;
}

.image-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
}

.card-img-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.navbar {
  background-color: #c9a7eb;
  padding: 1rem;
}
.nav-link {
  font-size: 1.15rem;
  font-weight: 600;
}
.navbar-brand {
  color: #213555;
  font-weight: 600;
}
.nav-img {
  width: 35px;
}
.btn-outline-dark {
  border-color: #9384d1;
}
.btn-outline-dark:hover {
  background-color: #9384d1;
  border: #9384d1;
}
.card-btn {
  margin-top: 1rem;
}
.cart-title {
  margin: 3rem;
}
.qty {
  margin: 1rem;
}
.bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cart-button {
  margin: 15px 0 50px;
  display: flex;
  justify-content: space-between;
}
.btn-outline-info {
  color: #fff;
  border-color: #9384d1;
  background-color: #9384d1;
}
.btn-outline-info:hover {
  background-color: #7664bb;
  border-color: #7664bb;
  color: #fff;
}
.cart-box {
  width: 500px;
}
.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
